* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  background-color: #fefefe;
}

.sampleNode {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
}

.colorNode {
  background-color: red;
}
