* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color:#eee;
}
header {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: flex-start;
}

a {
  color: black;
}

h3 {
  font-weight: 300;
}
.inner {
  position:absolute;
}
.graphLayer {
  position: relative;
  width: 100%;
  top: 0;
}
.sampleNode {
  position: absolute;
  width: 1%;
  height: 1%;
  border-radius: 100%;
  border: 3px solid;
  border-color: #efefef;
  border-radius: 100%;
  background-color: #322616;
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
}
.pFunkNode {
  position: absolute;
  width: 1%;
  height: 1%;
  border-radius: 100%;
  border: 3px solid;
  border-color: #efefef;
  border-radius: 100%;
  background-color: #f06582;
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
}

#graphic {
  width: 100%;
}
.sampleNode:hover {
  background-color: black;
  border: 3px solid black;
}
.pFunkNode:hover {
  background-color: black;
  border: 3px solid black;
}

.colorNode {
  background-color: red;
}

.sampleWindow {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 2;
  padding-bottom: 10px;
  opacity: 0;
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:all .3s ease;
}


.sampleNode:hover .sampleWindow{
  opacity: 100;
}
.pFunkNode:hover .sampleWindow{
  opacity: 100;
}


.detailView{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.detailContainer{
  height: 100%;
  z-index: 2;
  overflow: scroll;
  left: 150;
  width: 75%;
  position: fixed;
  left: 50%;
  margin: 0 0 0 -37.5%;
}

.hideThis{
  display:none;
}

.detailOverlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sampleBox {
  height: 400px;
  width: 600px;
  display: inline-block;
}


.songBox {
  height: 380px;
  display: inline-block;
}

.closeDetail {
  display: flex;
  width: 100%;
  height: 40px;
  color: white;
  opacity: .5;
  transition: opacity .5s ease;
  margin-top: 10px;
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.closeDetail:hover {
  opacity: 1;
}
.fa {
  font-size: 2em;
}
.samplePlayer {
  z-index: 3;
}

.sampleStats {
  color: white;
  width: 80%;
  text-align: right;
  text-shadow: 2px 2px #261C21;
}

.songDisplay {
  width: 100%;
  height: 384px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.statImage {
  width: 100%;
  height: 100%;
}

@media all
  and (min-device-width: 400px)
  and  (max-device-width: 600px){
  .sampleWindow {
    height: 40%;
  }
}
