
  <div ng-controller="MainController">
  <div class="detailView hideThis" ng-switch on="album">
    <!-- TRIBE CALLED QUEST -->
    <div class="detailContainer" ng-switch-when="TribeJB">
      <div class="sampleBox">
        <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
        <iframe src="https://embed.spotify.com/?uri=spotify:track:33d7n0d2Ou4wQ5AcLrLTav" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
      </div>
      <div class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:2wS1PObRyCywHdmog5eOWW" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>

    <!-- RUN DMC -->
    <div class="detailContainer" ng-switch-when="runDMC">
      <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
      <ul class="songDisplay">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:40rt5qcE4k671lIT3RSH1G" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:2epsbhjyrsxQFz4NfhTMPx" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
    </div>
    <!-- BDP -->
    <div class="detailContainer" ng-switch-when="bdp">
      <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
      <ul class="songDisplay">
        <li class="songBox">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:7cyMjyyzhy0Tgtz8mUYmSS" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:7ceIJzlJofrgV5ekGmF4pj" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay">
        <li class="songBox">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:2FiO4PxNAYZImLfnWkBgo5" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
            <iframe src="https://embed.spotify.com/?uri=spotify:track:7dy7XC3dvWBBC7gMLSV230" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
            <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
    </div>
    <!-- biz -->
    <div class="detailContainer" ng-switch-when="biz">
      <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
      <ul class="songDisplay">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3wjsKgP8x0TG4BVkeSkLnO" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:3a0yUOy37HakWw8cFgzkGt" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
    </div>
    <!-- epmd -->
    <div class="detailContainer" ng-switch-when="epmd">
      <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
      <ul class="songDisplay">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:50TUIpVIwQ2HoQ4TbzIqRB" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:6Hx0ktfYdQm88V5W1AwwW0" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
    </div>
    <!-- epmd -->
    <div class="detailContainer" ng-switch-when="publicEnemyJB">
      <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
      <ul class="songDisplay" id="BringtheNoise">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6jg8Y7gArYgZeXUBPMre0V" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5TQcUuSZ9VUXCxGdVj7VxO" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="dontBelieveTheHype">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:0VAoDsKh7Or84V8xP7p1Fs" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:6k5SqlOBsqNnisGtfDvIFw" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5Zvvwqat0f9GqvuIdxg2Dw" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="caughtCanWeGetAWitness">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:51qzzoZBKNVdfikhNcgSD9" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:2ATXSSI75TnzRvkjtWAfO0" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="sheWatchChannelZero">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:4eUU3QxXeWX9WSbyLmLtCP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="rebelWithoutAPause">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:1zONdCQrEJ4t3mlzKQADEN" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:7dy7XC3dvWBBC7gMLSV230" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="prophetsOfRage">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:1pCBByt2MEa1sCPss1Hrda" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:1fAGStilMwCZMmehzbzSgA" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5OcyX5eg7VrJuI833qOCUc" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="coldLampinWithFlavor">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:31yXXBDfnikSm5wg8vtHpn" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:1O2EpXYcLrYX9k4z6xKYkL" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
          <iframe src="https://embed.spotify.com/?uri=spotify:track:7f7gBExWrvBzD6lYjegCHA" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="terminatorXtoTheEdgeofPanic">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:0Pn7WVqX1YwK9SRwdGG0g8" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
      <ul class="songDisplay" id="nightOfTheLivingBasehead">
        <li class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6BxnzjGSfepdGDxJXmhhPU" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li class="sampleBox">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
        </li>
      </ul>
    </div>


    <div class="detailOverlay" ng-click="hideThis()"></div>
  </div>

    <!-- SVG and nodes --->
    <div class="graphLayer">
          <div class="sampleNode" style="right:74%;
           bottom:45.5%;" ng-click="showAlbum('paidJB'); showThis();">
           <div class="sampleWindow">
            <ul class=sampleStats>
              <li><h1>Paid in Full</h1></li>
              <li><h3><em>Eric B. & Rakim</em></h3></li>
              <li><h3>1987</h3></li>
              <li><h5>4 James Brown sample</h5></li>
            </ul>
           </div>
         </div>
          <div class="sampleNode" style="right:76%;
           bottom:48.67%;" ng-click="showAlbum('runDMC'); showThis();">
           <div class="sampleWindow">
            <ul class=sampleStats>
              <li><h1>Raising Hell</h1></li>
              <li><h3><em>Run-D.M.C.</em></h3></li>
              <li><h3>1986</h3></li>
              <li><h5>1 James Brown sample</h5></li>
            </ul>
           </div>
         </div>
         <div class="sampleNode" style="right:77.5%;
          bottom:53%;" ng-click="showAlbum('bdp'); showThis();">
          <div class="sampleWindow">
           <ul class=sampleStats>
             <li><h1>Criminal Minded</h1></li>
             <li><h3><em>Boogie Down Productions</em></h3></li>
             <li><h3>1987</h3></li>
             <li><h5>4 James Brown samples</h5></li>
           </ul>
          </div>
        </div>
        <div class="sampleNode" style="right:77.5%;
         bottom:58%;" ng-click="showAlbum('biz'); showThis();">
         <div class="sampleWindow">
          <ul class=sampleStats>
            <li><h1>Goin' Off</h1></li>
            <li><h3><em>Biz Markie</em></h3></li>
            <li><h3>1987</h3></li>
            <li><h5>1 James Brown sample</h5></li>
          </ul>
         </div>
       </div>
       <div class="sampleNode" style="right:76.3%;
        bottom:63%;" ng-click="showAlbum('epmd'); showThis();">
        <div class="sampleWindow">
         <ul class=sampleStats>
           <li><h1>Strictly Business</h1></li>
           <li><h3><em>EPMD</em></h3></li>
           <li><h3>1987</h3></li>
           <li><h5>1 James Brown sample</h5></li>
         </ul>
        </div>
      </div>
      <div class="sampleNode" style="right:74.2%;
       bottom:69%;" ng-click="showAlbum('publicEnemyJB'); showThis();">
       <div class="sampleWindow">
        <ul class=sampleStats>
          <li><h1>It Takes a Nation of Millions to Hold Us Back</h1></li>
          <li><h3><em>Public Enemy</em></h3></li>
          <li><h3>1988</h3></li>
          <li><h5>16 James Brown samples</h5></li>
        </ul>
       </div>
     </div>
     <div class="sampleNode" style="right:70.3%;
      bottom:73.8%;" ng-click="showAlbum('ultraMagJB'); showThis();">
      <div class="sampleWindow">
       <ul class=sampleStats>
         <li><h1>Critical Breakdown</h1></li>
         <li><h3><em>Ultramagnetic MCs</em></h3></li>
         <li><h3>1988</h3></li>
         <li><h5>15 James Brown samples</h5></li>
       </ul>
      </div>
    </div>
    <div class="sampleNode" style="right:65.17%;
     bottom:78%;" ng-click="showAlbum('deLaJB'); showThis();">
     <div class="sampleWindow">
      <ul class=sampleStats>
        <li><h1>3 Feet High and Rising</h1></li>
        <li><h3><em>De La Soul</em></h3></li>
        <li><h3>1989</h3></li>
        <li><h5>3 James Brown samples</h5></li>
      </ul>
     </div>
   </div>
   <div class="sampleNode" style="right:52.5%;
    bottom:82.8%;" ng-click="showAlbum('iceCubeJB'); showThis();">
      <div class="sampleWindow">
       <ul class=sampleStats>
         <li><h1>AmeriKKKa's Most Wanted</h1></li>
         <li><h3><em>Ice Cube</em></h3></li>
         <li><h3>1990</h3></li>
         <li><h5>3 James Brown samples</h5></li>
       </ul>
      </div>
    </div>
    <div class="sampleNode" style="right:45.15%;
     bottom:83.5%;" ng-click="showAlbum('brandN'); showThis();">
       <div class="sampleWindow">
        <ul class=sampleStats>
          <li><h1>One For All</h1></li>
          <li><h3><em>Brand Nubian</em></h3></li>
          <li><h3>1990</h3></li>
          <li><h5>6 James Brown samples</h5></li>
        </ul>
       </div>
     </div>
     <div class="sampleNode" style="right:46.3%;
      bottom:71.2%;" ng-click="showAlbum('mainS'); showThis();">
        <div class="sampleWindow">
         <ul class=sampleStats>
           <li><h1>Breaking Atoms</h1></li>
           <li><h3><em>Main Source</em></h3></li>
           <li><h3>1991</h3></li>
           <li><h5>3 James Brown samples</h5></li>
         </ul>
        </div>
      </div>
      <div class="sampleNode" style="right:40.2%;
       bottom:71.2%;" ng-click="showAlbum('tribeJB'); showThis();">
         <div class="sampleWindow">
          <ul class=sampleStats>
            <li><h1>Low End Theory</h1></li>
            <li><h3><em>A Tribe Called Quest</em></h3></li>
            <li><h3>1991</h3></li>
            <li><h5>1 James Brown sample</h5></li>
          </ul>
         </div>
       </div>
       <div class="sampleNode" style="right:33%;
        bottom:69.8%;" ng-click="showAlbum('peteJB'); showThis();">
          <div class="sampleWindow">
           <ul class=sampleStats>
             <li><h1>Mecca and the Soul Brother</h1></li>
             <li><h3><em>Pete Rock & CL Smooth</em></h3></li>
             <li><h3>1992</h3></li>
             <li><h5>4 James Brown samples</h5></li>
           </ul>
          </div>
        </div>
        <div class="sampleNode" style="right:29%;
         bottom:67.5%;" ng-click="showAlbum('dreJB'); showThis();">
           <div class="sampleWindow">
            <ul class=sampleStats>
              <li><h1>The Chronic</h1></li>
              <li><h3><em>Dr. Dre</em></h3></li>
              <li><h3>1992</h3></li>
              <li><h5>1 James Brown sample</h5></li>
            </ul>
           </div>
         </div>
         <div class="sampleNode" style="right:22.8%;
          bottom:60.8%;" ng-click="showAlbum('digJB'); showThis();">
            <div class="sampleWindow">
             <ul class=sampleStats>
               <li><h1>Reachin’ (A New Refutation of Time and Space)</h1></li>
               <li><h3><em>Digable Planets</em></h3></li>
               <li><h3>1993</h3></li>
               <li><h5>2 James Brown samples</h5></li>
             </ul>
            </div>
          </div>
          <div class="sampleNode" style="right:20.9%;
           bottom:56.9%;" ng-click="showAlbum('biggie'); showThis();">
             <div class="sampleWindow">
              <ul class=sampleStats>
                <li><h1>Ready to Die</h1></li>
                <li><h3><em>The Notorious B.I.G.</em></h3></li>
                <li><h3>1994</h3></li>
                <li><h5>1 James Brown sample</h5></li>
              </ul>
             </div>
           </div>
           <div class="sampleNode" style="right:28.5%;
            bottom:34.5%;" ng-click="showAlbum('snoopJB'); showThis();">
              <div class="sampleWindow">
               <ul class=sampleStats>
                 <li><h1>Doggystyle</h1></li>
                 <li><h3><em>Snoop Dogg</em></h3></li>
                 <li><h3>1993</h3></li>
                 <li><h5>1 James Brown sample</h5></li>
               </ul>
              </div>
            </div>
            <div class="sampleNode" style="right:30.5%;
             bottom:29.7%;" ng-click="showAlbum('wuJB'); showThis();">
               <div class="sampleWindow">
                <ul class=sampleStats>
                  <li><h1>Enter the Wu-Tang: 36 Chambers</h1></li>
                  <li><h3><em>Wu-Tang Clan</em></h3></li>
                  <li><h3>1993</h3></li>
                  <li><h5>1 James Brown sample</h5></li>
                </ul>
               </div>
             </div>
             <div class="sampleNode" style="right:34%;
              bottom:25.7%;" ng-click="showAlbum('phar'); showThis();">
                <div class="sampleWindow">
                 <ul class=sampleStats>
                   <li><h1>Bizarre Ride II the Pharcyde</h1></li>
                   <li><h3><em>The Pharcyde</em></h3></li>
                   <li><h3>1992</h3></li>
                   <li><h5>4 James Brown samples</h5></li>
                 </ul>
                </div>
              </div>
              <div class="sampleNode" style="right:38.8%;
               bottom:23%;" ng-click="showAlbum('redJB'); showThis();">
                 <div class="sampleWindow">
                  <ul class=sampleStats>
                    <li><h1>Whut? Thee Album</h1></li>
                    <li><h3><em>Redman</em></h3></li>
                    <li><h3>1992</h3></li>
                    <li><h5>7 James Brown samples</h5></li>
                  </ul>
                 </div>
               </div>
               <div class="sampleNode" style="right:44.2%;
                bottom:21%;" ng-click="showAlbum('cypressJB'); showThis();">
                  <div class="sampleWindow">
                   <ul class=sampleStats>
                     <li><h1>Cypress Hill</h1></li>
                     <li><h3><em>Cypress Hill</em></h3></li>
                     <li><h3>1991</h3></li>
                     <li><h5>5 James Brown samples</h5></li>
                   </ul>
                  </div>
                </div>
                <div class="sampleNode" style="right:49.38%;
                 bottom:20%;" ng-click="showAlbum('gS'); showThis();">
                   <div class="sampleWindow">
                    <ul class=sampleStats>
                      <li><h1>Step in the Arena</h1></li>
                      <li><h3><em>Gang Starr</em></h3></li>
                      <li><h3>1991</h3></li>
                      <li><h5>1 James Brown sample</h5></li>
                    </ul>
                   </div>
                 </div>
                  <div class="sampleNode" style="right:63.8%;
                   bottom:33.6%;" ng-click="showAlbum('beastieJB'); showThis();">
                     <div class="sampleWindow">
                      <ul class=sampleStats>
                        <li><h1>Paul's Boutique</h1></li>
                        <li><h3><em>Beastie Boys</em></h3></li>
                        <li><h3>1989</h3></li>
                        <li><h5>5 James Brown samples</h5></li>
                      </ul>
                     </div>
                   </div>
                   <div class="sampleNode" style="right:71.5%;
                    bottom:32%;" ng-click="showAlbum('nwaJB'); showThis();">
                      <div class="sampleWindow">
                       <ul class=sampleStats>
                         <li><h1>Straight Outta Compton</h1></li>
                         <li><h3><em>N.W.A.</em></h3></li>
                         <li><h3>1989</h3></li>
                         <li><h5>5 James Brown samples</h5></li>
                       </ul>
                      </div>
                    </div>
                    <div class="sampleNode" style="right:77.8%;
                     bottom:32%;" ng-click="showAlbum('kane'); showThis();">
                       <div class="sampleWindow">
                        <ul class=sampleStats>
                          <li><h1>Long Live the Kane</h1></li>
                          <li><h3><em>Big Daddy Kane</em></h3></li>
                          <li><h3>1988</h3></li>
                          <li><h5>4 James Brown samples</h5></li>
                        </ul>
                       </div>
                     </div>
                     <div class="sampleNode" style="right:83.5%;
                      bottom:36%;" ng-click="showAlbum('slickJB'); showThis();">
                        <div class="sampleWindow">
                         <ul class=sampleStats>
                           <li><h1>The Great Adventures of Slick Rick</h1></li>
                           <li><h3><em>Slick Rick</em></h3></li>
                           <li><h3>1988</h3></li>
                           <li><h5>1 James Brown sample</h5></li>
                         </ul>
                        </div>
                      </div>

        <!--SVGgraphic--->
      <object type="image/svg+xml" data="infoGraphic.svg" id=graphic>
        <img src="images/bizmouth.jpg" alt="…" class="inner"/>
      </object>
    </div>
</div>
