
  <div class="detailView hideThis" ng-controller="MainController">
    <div class="detailContainer">
      <div class="sampleBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:2wS1PObRyCywHdmog5eOWW" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="detailOverlay" ng-click="hideThis()"></div>
  </div>

<!-- insert SVG code for graph --->
<div class="page">
<div class="sampleNode" ng-click="spotifySongId ='2wS1PObRyCywHdmog5eOWW'; spotifySampleId ='00oKe8yxmLid0nySubRUJm'; assignIdsFromClick(); showThis();" ng-controller="MainController">
  <div class="sampleWindow arrow_box">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:2wS1PObRyCywHdmog5eOWW" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
  </div>
</div>

<object type="image/svg+xml" data="infoGraphic.svg">
  <img src="images/bizmouth.jpg" alt="…" />
</object>
</div>
<!-- detail info-->
