
  <div ng-controller="MainController">
  <div class="detailView hideThis">
    <div class="detailContainer">
      <div class="sampleBox">
        <div class="closeDetail fa fa-times-circle" ng-click="hideThis()"></div>
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="380" frameborder="0" allowtransparency="true" class="samplePlayer"></iframe>
      </div>
      <div class="songBox">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:2wS1PObRyCywHdmog5eOWW" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="detailOverlay" ng-click="hideThis()"></div>
  </div>

    <!-- SVG and nodes --->
    <div class="graphLayer" ng-controller="MainController">
      <!-- nodes -->
        <!--Run DMC "Is it Live" JB "chase" -->
    <!--     <div class="sampleNode" style="right:80.3%;
      bottom:48.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:2epsbhjyrsxQFz4NfhTMPx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    bdp "poetry" "don't Tell it"
    <div class="sampleNode" style="right:80%;
      bottom:53.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:7ceIJzlJofrgV5ekGmF4pj" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    bdp "south bronx" " get up get involved"
    <div class="sampleNode" style="right:83.3%;
      bottom:54.3%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    bdp "south bronx" "Get up offa that thing"
    <div class="sampleNode" style="right:77%;
      bottom:52.8%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:7dy7XC3dvWBBC7gMLSV230" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    bdp "south bronx" "funky drummer"
    <div class="sampleNode" style="right:74%;
      bottom:52%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Tribe Called Quest "Show Business"
    <div class="sampleNode" style="right:39.3%;
      bottom:72%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Tribe Called Quest "Everything is Fair"
    <div class="sampleNode" style="right:30.2%;
      bottom:74%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:1bQUyJ4pmlV3zuOh6Ld1O3" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Biz "Sex Machine"
    <div class="sampleNode" style="right:77.2%;
      bottom:57.7%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3a0yUOy37HakWw8cFgzkGt" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    ericB and Rakim "as the Rhyme Goes On" "funky president"
    <div class="sampleNode" style="right:77%;
      bottom:63.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    ericB and Rakim "I ain't no Joke" "pass the peas"
    <div class="sampleNode" style="right:74.5%;
      bottom:61.2%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:2LWnyXOREsEAhOvpIK4E1F" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    ericB and Rakim "Move the Crowd" "hot pants road"
    <div class="sampleNode" style="right:71.9%;
      bottom:58.7%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:20ErYOM28RxmPp4kG8XeOg" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    epmd "let the funk flow" "it's not the express"
    <div class="sampleNode" style="right:75.9%;
      bottom:44.7%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6Hx0ktfYdQm88V5W1AwwW0" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "funky drummer"
    <div class="sampleNode" style="right:76.1%;
      bottom:72%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "bring the noise" "get up, get into it"
    <div class="sampleNode" style="right:75%;
      bottom:71%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "bring the noise" "give it up or turn it loose"
    <div class="sampleNode" style="right:74%;
      bottom:70%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5TQcUuSZ9VUXCxGdVj7VxO" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "don't believe the hype" "escape-ism"
    <div class="sampleNode" style="right:73%;
      bottom:69%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6k5SqlOBsqNnisGtfDvIFw" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "don't believe the hype" "i got ants in my pants"
    <div class="sampleNode" style="right:72%;
      bottom:68%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5Zvvwqat0f9GqvuIdxg2Dw" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "get up offa that thing"
    <div class="sampleNode" style="right:71%;
      bottom:67%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:7dy7XC3dvWBBC7gMLSV230" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "cold sweat"
    <div class="sampleNode" style="right:70%;
      bottom:62%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:1fAGStilMwCZMmehzbzSgA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "the payback"
    <div class="sampleNode" style="right:69%;
      bottom:61%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:5OcyX5eg7VrJuI833qOCUc" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "gimme some more"
    <div class="sampleNode" style="right:68%;
      bottom:60%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:1O2EpXYcLrYX9k4z6xKYkL" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "the grunt"
    <div class="sampleNode" style="right:67%;
      bottom:59%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    Public enemy "think (about it)"
    <div class="sampleNode" style="right:67.5%;
      bottom:58.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:7f7gBExWrvBzD6lYjegCHA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
    </div>
    ultraMag "the boss"
    <div class="sampleNode" style="right:67.5%;
      bottom:58.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6LzjgzpVl0hB3YrBU1b8Z1" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
      ultraMag "get up offa that thing"
      <div class="sampleNode" style="right:67.5%;
        bottom:58.5%;" ng-click="showThis();">
        <div class="sampleWindow arrow_box">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:7dy7XC3dvWBBC7gMLSV230" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
        </div>
    </div>
    ultraMag "make it good to yourself"
    <div class="sampleNode" style="right:67.5%;
      bottom:58.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3FnN9ezN4Os3y43g9j6ghf" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
          </div>
          ultraMag "cold sweat"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:1fAGStilMwCZMmehzbzSgA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "can I get some help"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:4oAiaZQiMsVf0eNX4xE20M" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "escapism"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:6k5SqlOBsqNnisGtfDvIFw" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "funky drummer"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "give it up or turn it loose"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "turn on the heat"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:38WzkiwtgdmEkam14qm9k8" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "gimme some more"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:1O2EpXYcLrYX9k4z6xKYkL" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "the grunt"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "givin up food for funk"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:38IkZCHfYK4V5FkrLPz2fn" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
          </div>
          ultraMag "if you don't get it the first time"
          <div class="sampleNode" style="right:67.5%;
    bottom:58.5%;" ng-click="showThis();">
    <div class="sampleWindow arrow_box">
      <iframe src="https://embed.spotify.com/?uri=spotify:track:1ruA4W5dT1f0prPmCNm8Gb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
    </div>
    ultraMag "think"
    <div class="sampleNode" style="right:67.5%;
      bottom:58.5%;" ng-click="showThis();">
      <div class="sampleWindow arrow_box">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:7f7gBExWrvBzD6lYjegCHA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
      </div>
      deLa "think"
      <div class="sampleNode" style="right:67.5%;
        bottom:58.5%;" ng-click="showThis();">
        <div class="sampleWindow arrow_box">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:7f7gBExWrvBzD6lYjegCHA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
        </div>
      </div>
      deLa "funky drummer"
      <div class="sampleNode" style="right:74%;
        bottom:52%;" ng-click="showThis();">
        <div class="sampleWindow arrow_box">
          <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
        </div>
        deLa "funky president"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        iceCube "there it is"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:7zwn2c0p9GQJPUzIPtUkc6" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        iceCube "a man's world"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:5nQzA4sMT36NF63C5lEgMS" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        iceCube "givin up food for funk"
        <div class="sampleNode" style="right:67.5%;
          bottom:58.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:38IkZCHfYK4V5FkrLPz2fn" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        brand N "can mind"
        <div class="sampleNode" style="right:67.5%;
          bottom:58.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:7GoZXhuK4GgJ4lqG6E884h" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        brand N "all for one"
        <div class="sampleNode" style="right:67.5%;
          bottom:58.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:0Ui3c3ef8WDKMlliXE6Jpg" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        brand N "funky president"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        brand N "popcorn with a feeling"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:6u2IyX7sm5W8s6nj3a2kvQ" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        brand N "say it loud I'm black and proud"
        <div class="sampleNode" style="right:77%;
          bottom:63.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:128794sZJ1K6SOfM8kmjvv" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        </div>
        mainS "the boss"
        <div class="sampleNode" style="right:67.5%;
          bottom:58.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:6LzjgzpVl0hB3YrBU1b8Z1" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
        mainS "you Mother You"
        <div class="sampleNode" style="right:67.5%;
          bottom:58.5%;" ng-click="showThis();">
          <div class="sampleWindow arrow_box">
            <iframe src="https://embed.spotify.com/?uri=spotify:track:0EHMBNFj9j1oU10p85elZc" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
          </div>
          peteRock "funky president"
          <div class="sampleNode" style="right:77%;
            bottom:63.5%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          peteRock "the grunt"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          peteRock "blues and pants"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:4ByyuYEK1ujkddo8o0Etc8" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          dre "funky drummer"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          digablePlanets "blow your head"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:1hxamAWNeObz19XPOyB75f" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          digable Planets "funky drummer"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          biggie "coldblooded"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:0lD1JdJyNuo7IB9v1cgF35" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          Snoop "think (about it)"
          <div class="sampleNode" style="right:67.5%;
            bottom:58.5%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:7f7gBExWrvBzD6lYjegCHA" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          WuTang "the grunt"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          Pharcyde "popa's got a brand new bag"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:532aWYFScgLG8OroF7FVMs" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          pharcyde "funky drummer"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          pharcyde "rockin funky watergate"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:0J5kgW9xPBaT2rrrHgHJ7V" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          pharcyde "the grunt"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:29WaFLFzkrpmhwZTjccZsb" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          redman "funky president"
          <div class="sampleNode" style="right:77%;
            bottom:63.5%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          redman "the payback"
          <div class="sampleNode" style="right:69%;
            bottom:61%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5OcyX5eg7VrJuI833qOCUc" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          redman "popa don't mess "
          <div class="sampleNode" style="right:69%;
            bottom:61%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:30drgZo98fv2COqXuzMzxW" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          redman "rock me again"
          <div class="sampleNode" style="right:69%;
            bottom:61%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:6FvI7gIBaypsMhIW0igSfv" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          cypressHill "in the middle"
          <div class="sampleNode" style="right:69%;
            bottom:61%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:2JjIeCdqjAlvUqA4FUmjuB" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          cypressHill "blues and pants"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:4ByyuYEK1ujkddo8o0Etc8" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          cypressHill "intro to star time"
          <div class="sampleNode" style="right:67%;
            bottom:59%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:17yulhWjpWwSkXqdCzbvcV" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          cypress Hill " get up get involved"
          <div class="sampleNode" style="right:83.3%;
            bottom:54.3%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          gangStarr "noseJob"
          <div class="sampleNode" style="right:83.3%;
            bottom:54.3%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:4luQkTT5raw9Kv0vIxaC5j" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          beastie Boys "unity"
          <div class="sampleNode" style="right:83.3%;
            bottom:54.3%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:77q9ChUrXGwp6onoN7ueJP" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
                  beastie Boys "get into it"
          <div class="sampleNode" style="right:75%;
            bottom:71%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          beastie Boys "aint it funky"
          <div class="sampleNode" style="right:75%;
            bottom:71%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5pDntFG2pviuYB1d9XB0sj" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          beastie Boys "funky president"
          <div class="sampleNode" style="right:77%;
            bottom:63.5%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          NWA "funky president"
          <div class="sampleNode" style="right:77%;
            bottom:63.5%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
          </div>
          NWA "funky drummer"
          <div class="sampleNode" style="right:74%;
            bottom:52%;" ng-click="showThis();">
            <div class="sampleWindow arrow_box">
              <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
            </div>
            big Daddy Kane "funky president"
            <div class="sampleNode" style="right:77%;
              bottom:63.5%;" ng-click="showThis();">
              <div class="sampleWindow arrow_box">
                <iframe src="https://embed.spotify.com/?uri=spotify:track:00oKe8yxmLid0nySubRUJm" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
              </div>
            </div>
            big Daddy "say it loud I'm black and proud"
            <div class="sampleNode" style="right:77%;
              bottom:63.5%;" ng-click="showThis();">
              <div class="sampleWindow arrow_box">
                <iframe src="https://embed.spotify.com/?uri=spotify:track:128794sZJ1K6SOfM8kmjvv" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
              </div>
            </div>
            big Daddy "bring the noise" "get up, get into it"
            <div class="sampleNode" style="right:75%;
              bottom:71%;" ng-click="showThis();">
              <div class="sampleWindow arrow_box">
                <iframe src="https://embed.spotify.com/?uri=spotify:track:5lVuPCtegBtsRltgKZadXx" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
              </div>
            </div>
            slick rick "funky drummer"
            <div class="sampleNode" style="right:74%;
              bottom:52%;" ng-click="showThis();">
              <div class="sampleWindow arrow_box">
                <iframe src="https://embed.spotify.com/?uri=spotify:track:5RHKBUD7ficCL7W0hRa2Ru" width="300" height="80" frameborder="0" allowtransparency="true" class="hideBasicWindow"></iframe>
              </div> -->
        <!--SVGgraphic--->
      <object type="image/svg+xml" data="infoGraphic.svg" id=graphic>
        <img src="images/bizmouth.jpg" alt="…" class="inner"/>
      </object>
    </div>
</div>
