<div class="currentSong" style="background:{{songInfo.image}}">
  <ul>
    <li>{{songInfo.title}}</li>
    <li>{{songInfo.artist}}</li>
    <li>{{songInfo.album}}</li>
  </ul>
  <div>
    <iframe src="https://embed.spotify.com/?uri=spotify:track:{{songInfo.id}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>
<div class="sampledSong" style="background:{{sampleInfo.image}}">
  <ul>
    <li>{{sampleInfo.title}}</li>
    <li>{{sampleInfo.artist}}</li>
    <li>{{sampleInfo.album}}</li>
  </ul>
  <div>
    <iframe src="https://embed.spotify.com/?uri=spotify:track:{{sampleInfo.id}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>
